*{
    padding: opx;
    border: 0px;
    box-sizing: border-box;
}
.section5{
    height: 750px;
    background-color: #161C2D;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
.section5-1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    bottom: 50px;
}   
}
.section5 span{
    display: block;
}
.section5-1 h1{
    font-size: 46px;
    font-weight: 700;
}
.section5-2{
    background-color: white;
    height:447px ;
    width:542px ;
    border: 1px solid  #68D585;
    position: relative;
    left: 130px;
    border-radius: 10px;
    bottom: 20px;
    color: black;
    display: flex;
    flex-direction: column;
}
.section5-2 h3{
    font-size: 21px;
    font-weight:700 ;
}
.section5-211 p{
    font-size:17px ;
    font-weight:400 ;
}
.section6{
    width: 527px;
    height:406px ;
    border: 1px solid black;
    position: relative;
    left:500px;
    top: 200px;
}
.section7-1{
    display: flex;
    position: relative;
    top: 300px;
    gap: 120px;
}
.section7-21,.section7-22,.section7-23,.section7-24,.section7-25{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 200px;
}
.para1,.para2{
    color:#473BF0 ;
}
 .section7-3{
    height: 80px;
    position: relative;
    top: 200px;
    display: flex;
    justify-content: space-between;
 }
 .section7-31 img{
    height:13px ;
    width:14px ;
 }
 .section7-31{
    display: flex;
    align-items: center;
 }
 .section7-31 p{
    font-size:15px ;
    font-family: 400;
 }
 .section7-32 img{
    width:166px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
 }
 .section7-3{
    position: relative;
    top: 400px;
 }
 .line{
    height: 2px;
    background-color:#E7E9ED;
    position: relative;
    top: 300px;
}
 
